// @import './environment.scss';

.certificate-popup {

  .btn-close {
    margin-left: auto;
    width: 10rem;
    height: 10rem;
    padding: 12rem;
  }

  .modal-dialog-centered {
    min-height: calc(100% - 100rem);
  }

  .modal-dialog-scrollable {
    height: calc(100% - 100rem);

    .modal-content {
      padding: 24rem;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .modal-dialog {
    margin: 50rem auto;
  }
}


@include media-breakpoint-down(sm) {
  .certificate-popup {
    .modal-dialog-centered {
      min-height: calc(100% - 25rem);
    }
  
    .modal-dialog-scrollable {
      height: calc(100% - 25rem);
  
      .modal-content {
        padding: 12rem;
      }
    }
  
    .modal-dialog {
      margin: 12.5rem auto;
    }
  }
}
