// @import './environment.scss';

#section__introduction {
  padding-top: 90rem;
  padding-bottom: 60rem;
  overflow: unset;
  position: relative;

  #heading-wrapper {
    position: sticky;
    top: 0;
    padding: 30rem 0 60rem 0;
    background: linear-gradient(180deg, #fcf9f1, #fcf9f1 76%, transparent);
    z-index: 10;
  }

  #divider-wrapper {
    position: absolute;
    height: auto;
    top: 410rem;
    bottom: 100rem;
    left: 50%;
    transform: translateX(50%);
    width: 3px;
    background: $brick-color;
  }

  .__container {
    padding: 125rem 0;
    align-items: stretch;
    justify-content: center;

    .__title {
      font-family: $heading-font;
      font-size: 60rem;
      line-height: .7;
      color: $brick-color;
      margin-bottom: 24rem;
      position: relative;
      display: inline-flex;
      margin-left: auto;
      margin-right: 0;
    }

    .__order-number {
      position: absolute;
      font-size: 24rem;
      color: $black-color;
      top: 0;
      left: -35rem;
    }

    &.flex-sm-row-reverse {
      .__title {
        margin-left: 0;
        margin-right: auto;
      }

      .__order-number {
        left: unset;
        right: -35rem;
      }
    }

    .__description {
      font-size: 20rem;
      line-height: 1.4;
      letter-spacing: 0.02em;
    }

    .__image {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

@include media-breakpoint-down(sm) {
  #section__introduction {
    padding-top: 60rem;
    padding-bottom: 30rem;
  
    .__container {
      padding: 0;
      
      &:not(:last-child) {
        margin-bottom: 120rem;
      }
  
      .__title {
        font-size: 24rem;
        margin-bottom: 24rem;
        margin-left: 10rem !important;
        margin-right: auto !important;
      }
  
      .__order-number {
        font-size: 12rem;
        top: unset !important;
        bottom: 100%;
        left: -10rem !important;
        right: unset !important;
      }
  
      .__description {
        font-size: 12rem;
      }
  
      .__image {
        width: 75%;
        margin-bottom: 30rem;
      }
    }
  }
}
