// @import './environment.scss';

#section__package {
  padding-top: 120rem;
  padding-bottom: 60rem;

  .heading {
    margin-bottom: 24rem;
  }

  .__description {
    width: 58.333%;
    margin-bottom: 46rem;
  }

  .__container {
    --bs-gutter-x: 30rem;
    --bs-gutter-y: 60rem;

    .__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .__image {
        margin-bottom: 24rem;
        height: 65%;
      }

      .__description-text {
        width: 60%;
        font-size: 16rem;
        color: $brick-color;
      }

      .__detail {
        font-size: 20rem;
        letter-spacing: 0.02em;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #section__package {
    padding-top: 60rem;
    padding-bottom: 30rem;

    .heading {
      margin-bottom: 12rem;
    }

    .__description {
      width: 100%;
      margin-bottom: 41rem;
    }

    .__container {
      --bs-gutter-x: 25rem;
      --bs-gutter-y: 32rem;

      .__item {

        .__image {
          margin-bottom: 12rem;
          max-width: 65%;
          max-height: 80rem;
        }

        .__detail, .__description-text {
          font-size: 11rem;
        }

        .__description-text {
          width: 100%;
        }
      }
    }
  }
}
