// @import './environment.scss';

#section__products-tab {
  background-color: $black-color;
  margin-top: -10rem;
  padding-top: 60rem;
  padding-bottom: 80rem;
  transition: background-color .5s ease-in-out;

  .heading {
    margin-bottom: 30rem;
    color: $white-color;
  }

  ul.nav {
    margin-bottom: 60rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

    li.nav-tabs {
      font-family: $heading-font;
      font-weight: 300;
      font-size: 24rem;
      color: $white-color;
      border: none;

      .nav-link {
        border: none;
        outline: unset;
        transition: color .3s ease-in;
        color: inherit;

        &.active {
          background-color: unset;
          color: $kraf-color;
        }
      }
    }
  }

  #products-tab {
    .__image-box {
      min-height: 935rem;

      img {
        position: absolute;
        top: 0;
        left: -60rem;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center right;

        // margin-left: -60rem;
      }
    }

    .__content {
      color: $white-color;
      display: flex;
      flex-direction: column;

      .__title {
        font-family: $heading-font;
        font-size: 36rem;
        font-weight: 300;
        margin-bottom: 38rem;
      }

      .__description {
        letter-spacing: 0.02em;
        margin-bottom: 46rem;
      }

      .container-collapse {
        border: 1.4rem solid $white-color;
        border-radius: 4rem;

        &.show {
          flex-grow: 1;
        }

        .__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 24rem;

          i {
            font-size: 36rem;
            font-weight: bold;
            line-height: 1;
            color: $white-color;
            transition: transform 500ms;
          }
        }

        .__body {
          border-top: 1.4rem solid $white-color;
          padding: 24rem;
          padding-top: 18rem;

          p {
            margin-bottom: 12rem;
            font-size: 12rem;
            letter-spacing: 0.02em;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #section__products-tab {
    padding-top: 35rem;
    padding-bottom: 60rem;

    .heading {
      margin-bottom: 20rem;
    }

    ul.nav {
      margin-bottom: 26rem;
      width: 100%;

      li.nav-tabs {
        font-size: 14rem;
      }
    }

    #products-tab {
      .__image-box {
        min-height: unset;
        img {
          position: static;
          width: 100vw !important;
          margin-left: -16rem;
          margin-right: -16rem;
          margin-bottom: 24rem;
        }
      }

      .__content {

        .__title {
          font-size: 24rem;
          margin-bottom: 12rem;
        }

        .__description {
          margin-bottom: 24rem;
        }

        .container-collapse {

          .__header {
            padding: 20rem;

            i {
              font-size: 24rem;
            }
          }

          .__body {
            padding: 12rem;
            padding-top: 16rem;

            p {
              margin-bottom: 11rem;
              font-size: 12rem;
            }
          }
        }
      }
    }
  }
}
