<header class="header">
	<div class="wrapper">
		<a class="hdr-logo-link" href="{{site.url}}" rel="home">
			<img src='{{ site.link }}/wp-content/uploads/2021/01/logo.svg' alt="site-logo"/>
		</a>
	</div>
	<!-- Button trigger modal -->
	<div class="burger-btn d-sm-none" data-bs-toggle="modal" data-bs-target="#menuModal">
		<svg width="18" height="19" viewbox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M0 15.1578H18V18.1894H0V15.1578ZM0 7.5789H18V10.6105H0V7.5789ZM0 0H18V3.03156H0V0Z" fill="#FCF9F1"/>
		</svg>
	</div>
</header>
