<!-- Modal -->
<div class="modal fade" id="menuModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
		<div class="modal-content">
			<a class="hdr-logo-link" href="{{site.url}}" rel="home">
				<img src='{{ site.link }}/wp-content/uploads/2021/01/logo.svg' alt="site-logo"/>
			</a>
			<div class="close-btn" data-bs-dismiss="modal" aria-label="Close">
				<svg width="22" height="22" viewbox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M20 2L2 20" stroke="#FCF9F1" stroke-width="3"/>
					<path d="M2 2L20 20" stroke="#FCF9F1" stroke-width="3"/>
				</svg>
			</div>

			<ul class="sections-list">
				<li>
					<a class="link-navigate" href="#section__products-tab">PRODUCTS</a>
				</li>
				<li>
					<a class="link-navigate" href="#section__introduction">RICE FIELDS INTRODUCTION</a>
				</li>
				<li>
					<a class="link-navigate" href="#section__processing">ORGANIC - PROCESSING</a>
				</li>
				<li>
					<a class="link-navigate" href="#section__exporting">EXPORTING COUNTRIES</a>
				</li>
				<li>
					<a class="link-navigate" href="#section__about-us">ABOUT US</a>
				</li>
				<li>
					<a class="link-navigate" href="#footer">CONTACT</a>
				</li>
			</ul>
			<ul class="small-sections-list row row-cols-2">
				<li class="col">
					<a class="link-navigate" href="#section__certificates">Certificates</a>
				</li>
				<li class="col">
					<a class="link-navigate" href="#section__partnerships">Partnerships</a>
				</li>
				<li class="col">
					<a class="link-navigate" href="#section__package">Package</a>
				</li>
				<li class="col">
					<a class="link-navigate" href="#section__faq">FAQ</a>
				</li>
			</ul>

			<p class="info">ECOBA – ORGANIC RICE brand - is initiated with the goal and the desire to bring consumers the best, environmentally friendly products without the use of chemicals to cultivate.</p>

			<div class="social-icon d-flex">
				<a href="https://www.facebook.com">
					<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.2999 0.899902H2.6999C1.7099 0.899902 0.899902 1.7099 0.899902 2.6999V15.2999C0.899902 16.2908 1.7099 17.0999 2.6999 17.0999H8.9999V10.7999H7.1999V8.5724H8.9999V6.7274C8.9999 4.7798 10.0907 3.4118 12.3893 3.4118L14.012 3.4136V5.7581H12.9347C12.0401 5.7581 11.6999 6.4295 11.6999 7.0523V8.5733H14.0111L13.4999 10.7999H11.6999V17.0999H15.2999C16.2899 17.0999 17.0999 16.2908 17.0999 15.2999V2.6999C17.0999 1.7099 16.2899 0.899902 15.2999 0.899902Z" fill="#FCF9F1"/>
					</svg>
				</a>
				<a href="https://www.instagram.com/">
					<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.00009 3.99423C5.7833 3.99423 3.99423 5.7833 3.99423 8.00009C3.99423 10.2169 5.7833 12.0059 8.00009 12.0059C10.2169 12.0059 12.006 10.2169 12.006 8.00009C12.006 5.7833 10.2169 3.99423 8.00009 3.99423ZM8.00009 10.6036C6.5665 10.6036 5.39658 9.43369 5.39658 8.00009C5.39658 6.5665 6.5665 5.39658 8.00009 5.39658C9.43369 5.39658 10.6036 6.5665 10.6036 8.00009C10.6036 9.43369 9.43369 10.6036 8.00009 10.6036ZM12.17 2.89658C11.6524 2.89658 11.2345 3.31455 11.2345 3.83212C11.2345 4.3497 11.6524 4.76767 12.17 4.76767C12.6876 4.76767 13.1056 4.35165 13.1056 3.83212C13.1057 3.70922 13.0816 3.5875 13.0347 3.47392C12.9877 3.36035 12.9188 3.25715 12.8319 3.17025C12.745 3.08334 12.6418 3.01444 12.5282 2.96748C12.4146 2.92052 12.2929 2.89642 12.17 2.89658ZM15.8087 8.00009C15.8087 6.92197 15.8185 5.85361 15.7579 4.77744C15.6974 3.52744 15.4122 2.41806 14.4981 1.504C13.5821 0.587983 12.4747 0.30478 11.2247 0.244233C10.1466 0.183686 9.07822 0.193452 8.00204 0.193452C6.92392 0.193452 5.85556 0.183686 4.77939 0.244233C3.52939 0.30478 2.42001 0.589936 1.50595 1.504C0.589936 2.42001 0.306733 3.52744 0.246186 4.77744C0.18564 5.85556 0.195405 6.92392 0.195405 8.00009C0.195405 9.07626 0.18564 10.1466 0.246186 11.2227C0.306733 12.4727 0.59189 13.5821 1.50595 14.4962C2.42197 15.4122 3.52939 15.6954 4.77939 15.7559C5.85751 15.8165 6.92587 15.8067 8.00204 15.8067C9.08017 15.8067 10.1485 15.8165 11.2247 15.7559C12.4747 15.6954 13.5841 15.4102 14.4981 14.4962C15.4142 13.5802 15.6974 12.4727 15.7579 11.2227C15.8204 10.1466 15.8087 9.07822 15.8087 8.00009ZM14.0899 12.6056C13.9474 12.961 13.7755 13.2267 13.5001 13.5001C13.2247 13.7755 12.961 13.9474 12.6056 14.0899C11.5782 14.4981 9.13876 14.4063 8.00009 14.4063C6.86142 14.4063 4.42001 14.4981 3.39267 14.0919C3.0372 13.9493 2.77158 13.7774 2.49814 13.502C2.22275 13.2267 2.05087 12.963 1.9083 12.6075C1.50205 11.5782 1.59384 9.13876 1.59384 8.00009C1.59384 6.86142 1.50205 4.42001 1.9083 3.39267C2.05087 3.0372 2.22275 2.77158 2.49814 2.49814C2.77353 2.2247 3.0372 2.05087 3.39267 1.9083C4.42001 1.50205 6.86142 1.59384 8.00009 1.59384C9.13876 1.59384 11.5802 1.50205 12.6075 1.9083C12.963 2.05087 13.2286 2.22275 13.502 2.49814C13.7774 2.77353 13.9493 3.0372 14.0919 3.39267C14.4981 4.42001 14.4063 6.86142 14.4063 8.00009C14.4063 9.13876 14.4981 11.5782 14.0899 12.6056Z" fill="#FCF9F1"/>
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>
