<section id="section__quote">
	<p class="position-absolute top-50 start-50 translate-middle reveal-up-delay">“{{ post.meta('quote').text }}”</p>
	<img class="w-100 reveal-fade" src="{{ post.meta('quote').image }}">
	<div class="background-filter"></div>
</section>