@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
// @import "bootstrap";

$white-color: #fcf9f1;
$black-color: #151515;
$brick-color: #7F2629;
$kraf-color: #E5CDB5;
$grey-color: #9e9e9e;
$heading-font: 'BadNeighborhood';
$content-font: 'Raleway';

